<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .col{

                text-align:center;
                padding-top:100px;
                padding-right:100px;
                padding-bottom:100px;
                padding-left:100px;

            }

    </style>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body bgcolor="green">
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2">

    </div>

        <div class="col-md-8">
            </div>
            <div class="col-md-2">

          <a class="btn btn-success" href="{% url 'demo2:reg'  %}">Register</a>
        </div>
    </div>
</div>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}



<div class="col" >
    <h2>LOGIN</h2>
    <div class="col-lg-4" >
        <form action=""method="POST">
             {% csrf_token %}
    <input type="text" name="username" placeholder= "type ur username"><br>
    <input type="password" name="password" placeholder="type ur password"><br>
    <input type="submit"><br>
        </form>

</div>

</div>


</body>
</html>